html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

header {
    padding: 1.5625rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 1rem;
        width: 6rem;
    }

    .trybtn {
        border-radius: 1.25rem;
        padding: 0.5rem 1.125rem;
        border: 1px solid $pink; 
        background-color: $white;
        color: $pink;
        cursor: pointer;
        transition: 300ms ease-out;
        

        &:hover, &:active {
            border: 1px solid $lightpink;
            color: $lightpink;
        }
    }
}

main { 
    h1, h2 {
        letter-spacing: -2px;
    }

    p {
        font-size: 0.8125rem;
        color: $verydarkcyan;
        font-weight: 400;
    }
    
    button {
        cursor: pointer;
        transition: 300ms ease-out;
    
        &:hover, &:active {
            border: 1px solid $lightpink;
        }
    }
    

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5.9375rem 2.625rem;
    }

    section.hero {
        text-align: center;

        h1 {
            font-family: 'Poppins', sans-serif;
            color: $verydarkcyan;
            margin-bottom: 2.25rem;
        }

        p {
            margin-bottom: 3.125rem;
        } 
    }

    .start {
        border-radius: 1.5625rem;
        padding: 1rem 2.5rem;
        border: 1px solid $pink;
        background-color: $pink;
        font-weight: 600;
        color: $white;
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);

        &:hover, &:active {
            background-color: $lightpink;
        }    
    }

    section.stats {

        padding-bottom: 1.875rem;
        text-align: center;

        .main-img {
            object-fit: contain;
            width:  100%;
            margin-bottom: 1.5rem;
        }

        .stat-container {
            display: flex;
            flex-direction: column;

            .stat {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 6.25rem;
    
                .community {
                    height: 1.75rem;
                    width: 1.9375rem;
                }
    
                .message {
                    height: 1.3125rem;
                    width: 1.5625rem;
                }
    
                h2 {
                    font-size: 3.25rem;
                    color: $verydarkcyan;
                }
    
                p {
                    color: $blueishgrey;
                }
            }
        }

        
    }

    .curve {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;   
    }

    .topone {
        background-image: url(../images/bg-section-top-mobile-1.svg);
        height: 7rem;
    }

    .botone {
        background-image: url(../images/bg-section-bottom-mobile-1.svg);
        height: 3.25rem;
    }

    .toptwo {
        background-image: url(../images/bg-section-top-mobile-2.svg);
        height: 6.25rem;
    }

    .bottwo {
        background-image: url(../images/bg-section-bottom-mobile-2.svg);
        height: 6.25rem;
    }

    .topfooter {
        background-image: url(../images/bg-footer-top-mobile.svg);
        height: 3.125rem;
    }

    section.content {
        text-align: center;
        
        .img-container {
            flex: 1 1 0;

            img {
                width: 100%;
            }
        }
        .gt-content {
            margin-top: 5rem;

            h2 {
                color: $verydarkcyan;
            }

            p {
                margin-top: 1.25rem;
            }
        }

    }

    section.build {
        text-align: center;

        h2 {
            margin-bottom: 2.5rem;
            color: $verydarkcyan;
        }
    }

    .growth, .users {
        background-color: $verypaleblue;
    }

    .conversation {
        background-color: $white;
    }

}

footer {
    display: flex;
    flex-direction: column;
    background-color: $verydarkcyan;
    padding: 1.75rem;
    //text-align: left;

    * {
        color: $white;   
    }

    section.newsletter {
        padding: 0;
        flex: 1 1 0;
        align-items: flex-start;
    
        h2 {
            margin-bottom: 1.875rem;
        }
    
        p {
            font-size: 0.9375rem;
        }
    
        .subscription {
            margin-top: 2.375rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
    
            #newsletter-email {
                width: 100%;
                padding: 1.0625rem;
                border-radius: 0.625rem;
                border: none;
                margin-bottom: 1rem;
            }
            
            .subscribe {
                padding: 1.125rem 2.625rem;
                border-radius: 0.3125rem;
                padding: 1rem 2.5rem;
                border: 2px solid $pink;
                background-color: $pink;
                font-weight: 600;
                color: $white;
                cursor: pointer;
                transition: 300ms ease-out;
    
                &:hover, &:active {
                    background-color: $lightpink;
                    border: 2px solid $lightpink;
                }
            }
        }
    }
    
    section.info {
        display: flex;
        flex-direction: column;
        padding: 0;
        flex: 1 1 0;
        align-items: flex-start;
        margin-top: 6.5rem;
    
        .logo-footer {
            width: 202px;
            height: 34px;
        }
    
        p {
            font-size: 0.9375rem;
            margin-top: 1.375rem;
        }
    
        .contacts {
            display: flex;
            flex-direction: column;
            margin-top: 3rem;
    
            img {
                margin-right: 20px;
            }
    
            .phone, .email {
                display: flex;
                flex-direction: row;
                align-items: flex-end
            }
    
            .socials {
                margin-top: 3.25rem;
                display: flex;
                flex-direction: row;
                align-items: center;
    
                a {
                    margin-right: 1rem;
                    height: 1.5625rem;
                    width: 1.5625rem;
                    transition: 300ms ease-out;
                }
    
                .fb {
                    background: url(../images/facebook-square-brands-white.svg) no-repeat;
    
                    &:hover {
                        background: url(../images/facebook-square-brands.svg) no-repeat;
                    }
                }
    
                .instagram {
                    background: url(../images/instagram-brands-white.svg) no-repeat;
    
                    &:hover {
                        background: url(../images/instagram-brands.svg) no-repeat;
                    }
                }
    
                .twitter {
                    background: url(../images/twitter-square-brands-white.svg) no-repeat;
    
                    &:hover {
                        background: url(../images/twitter-square-brands.svg) no-repeat;
                    }
                }

                .attribution {
                    text-align: center;
                    margin-left: 1rem;
                    
                    p {
                        margin: 0;
                    }

                    a {
                        margin: 0;
                    }
                }
            }
        }
    }
}


