html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

header {
    padding: 1.5625rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 1rem;
        width: 6rem;
    }

    .trybtn {
        border-radius: 1.25rem;
        padding: 0.5rem 1.125rem;
        border: 2px solid $lightpink; 
        background-color: $white;
        color: $lightpink;
    }
}

p {
    font-size: 0.8125rem;
    color: $verydarkcyan;
    font-weight: 400;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5.9375rem 2.625rem;
}

section.hero {

    h1 {
        font-family: 'Poppins', sans-serif;
        color: $verydarkcyan;
        margin-bottom: 2.25rem;
    }

    p {
        margin-bottom: 3.125rem;
    }

    .start {
        border-radius: 1.5625rem;
        padding: 1rem 2.5rem;
        border: 2px solid $pink;
        background-color: $pink;
        font-weight: 600;
        color: $white;
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
    }
}

section.stats {

    padding-bottom: 1.875rem;

    .main-img {
        object-fit: contain;
        width:  100%;
        margin-bottom: 1.5rem;
    }

    .stat {
        display: flex;
        flex-direction: column;
        margin-top: 6.25rem;

        img {
            margin-bottom: 0.5rem;
        }

        .community {
            height: 1.6875rem;
            width: 1.8125rem;
        }

        .message {
            height: 1.1875rem;
            width: 1.4375rem;
        }

        h2 {
            font-size: 3.25rem;
            color: $verydarkcyan;
        }

        p {
            color: $blueishgrey;
        }
    }
}

.curve {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    &__topone {
        background-image: url(../images/bg-section-top-mobile-1.svg);
        height: 7rem;
    }

    &__botone {
        background-image: url(../images/bg-section-bottom-mobile-1.svg);
        height: 3.25rem;
    }
    
}

section.grow-together {
    background-color: $verypaleblue;

    .img-container {
        flex: 1 1 0;

        img {
            width: 100%;
        }
    }
    .gt-content {
        margin-top: 5rem;

        h2 {
            color: $verydarkcyan;
        }

        p {
            margin-top: 1.25rem;
        }
    }
    
}